body {
    background: linear-gradient(to right, darkred, black);
    color: black;
    text-align: center;
    margin-top: 100px;
}

button1 {
    background-color: black;
    color: wheat;
    border: 3px solid wheat;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s
}
button1:hover {
    scale: 1.1;
    rotate: 5deg;
    color: black;
    background-color: wheat;
    border: 3px solid black;
}

button2 {
    background-color: green;
    color: yellow;
    border: 3px solid yellow;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s
}
button2:hover {
    scale: 1.1;
    rotate: 5deg;
    color: green;
    background-color: yellow;
    border: 3px solid green;
}

button2 {
    background-color: red;
    color: blue;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s
}
button2:hover {
    scale: 1.1;
    rotate: 5deg;
    color: green;
    background-color: blue;
    border: 3px solid red;
}

