#title{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    -webkit-text-stroke: 3px solid orange;
    font-weight: 900;
    font-style: italic;
}

#description1{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    -webkit-text-stroke: 3px solid orange;
    font-weight: 900;
    font-style: italic;
}

body {
    background: linear-gradient(to right, darkred, black);
    color: black;
    text-align: center;
    margin-top: 100px;
}

#button1 {
    background-color: black;
    color: orange;
    border: 3px solid orange;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s
}
#button1:hover {
    scale: 1.1;
    rotate: 5deg;
    color: black;
    background-color: orange;
    border: 3px solid black;
}

#button2 {
    background-color: green;
    color: yellow;
    border: 3px solid yellow;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s
}
#button2:hover {
    scale: 1.1;
    rotate: 5deg;
    color: green;
    background-color: yellow;
    border: 3px solid green;
}

#button3 {
    background-color: red;
    color: blue;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s
}
#button3:hover {
    scale: 1.1;
    rotate: 5deg;
    color: red;
    background-color: blue;
    border: 3px solid red;
}

