.container {
    height: 100vh;
    display: flex;
    justify-content: center;    /* yatay ortala */
    align-items: flex-start;    /* yukarı */
    padding-top: 40px;
}

.box {
    background-color: rgba(0, 0, 0, 0.7); /* yarı saydam siyah */
    padding: 20px 40px;
    border-radius: 12px;
    display: inline-block;
}

h1 {
    color: orange;
}


h2 {
    text-align: center;
}
body {
    background-color: #12;
    color: black;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: red;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}
