body {
    background-color: #111;
    color: white;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}
